# 元组

- 任意对象的有序集合
- 通过偏移量存取
- 不可变序列
- 固定长度、多样性，任意嵌套
- 对象引用的数组

## 元组应用

支持字符串和列表的一般操作

In [26]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [27]:
(1, 2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

In [28]:
T = (1, 2, 3, 4)
T[0] # 取值

1

In [29]:
T[1:3] # 切片

(2, 3)

In [30]:
(2, ) # 当只有一个元素时必须加逗号

(2,)

In [31]:
a = 1,  # 括号可以不用加，但是必须有逗号
a

(1,)

- 圆括号不能忽略  -> 出现在一个函数调用中，或者嵌套在一个更大的表达式内
- 逗号不能省略 -> 嵌套在一个更大的列表、字典中

## 转换、方法和不可变性

对元组进行排序需要将其转换成list，调用sort方法，或者使用sorted函数

In [32]:
T = (5, 4, 1, 3, 2)
tmp = list(T)
tmp.sort()
T = tuple(tmp)
T

(1, 2, 3, 4, 5)

In [33]:
sorted(T)

[1, 2, 3, 4, 5]

In [34]:
T.index(2)

1

In [35]:
T.count(2)

1

元组的不可变性适用于元组本身顶层而不是其内容，元组内的列表可以修改

In [36]:
T = (1, [2, 3], 4)
T[1][1] = 2
T

(1, [2, 2], 4)

## 有名元组

In [22]:
from collections import namedtuple # 同时支持序号和属性名访问

In [24]:
Rec = namedtuple("szq", ['name', 'age', 'jobs']) # 通过类创建

In [38]:
bob = Rec('Bob', age=40.5, jobs=['dev', 'mgr'])

In [39]:
bob[2]

['dev', 'mgr']

In [40]:
bob.jobs

['dev', 'mgr']

In [42]:
# 转成类字典形式
o = bob._asdict()
o

OrderedDict([('name', 'Bob'), ('age', 40.5), ('jobs', ['dev', 'mgr'])])

## 解包元组赋值

In [43]:
a, b = (1, 2)
print(a, b)

1 2

In [44]:
a, b, c = bob # 有名元组也支持
print(c)

['dev', 'mgr']

In [46]:
a,b = [2, 3]
a

2